* {
  box-sizing: border-box;
  margin:0px;
}

body {
	font-family: 'Oswald', sans-serif;
}
ul li {
	display:inline-block;
	float:right;
	margin: 10px;
}
a {
	text-decoration:none;
	color: #000;
	font-size:20px;	
}

a:hover {
	color: #f00;	
}

/* estilo do cabeçalho */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  width:100%;
  text-align: center;
  font-family: 'Aboreto', cursive;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

#logo {
  /*background-color: #fff;*/
  padding:0px;
  width:250px;
  height: 80px;
  display:inline-block;
  float:left;
  margin-top:auto;
}
#topo {
  /*background-color: #fff;*/
  padding: 10px;
  width:600px;
  height: 50px;
  display:inline-block;
  float:right;
  margin-top:auto;
}

/* Crie três colunas desiguais que flutuam uma ao lado da outra */
.column {
  float: left;
  padding: 20px;
  height: 500px; 
}

/* Colunas gerais */
.column.geral {
  width: 100%;
}
/* Colunas laterais */
.column.side {
  width: 25%;
}

/* Coluna do meio */
.column.middle {
  width: 50%;
}

/* Limpar flutuações após as colunas */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* estilo do rodapé */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.foto {
  padding:0px;
  margin:0px;
  width:100%; height:100%;
  display:inline-block;
}

.foto1 {
  background-color: #eee;
  padding: 0px;
  margin-left:10px; margin-top: 10px;
  width:200px; height:450px;
  display:inline-block;
  float:left;
}
.foto1.texto {
  background-color: #fff;
  padding: 10px;
  margin-left:10px; margin-top: 10px;
  width:200px; height:450px;
  display:inline-block;
  float:left;
}
.foto2 {
  background-color: #eee;
  padding: 0px;
  margin-left:10px; margin-top: 5px;
  width:400px; height:400px;
  float:left;
}
.foto2.texto {
  background-color: #fff;
  padding: 10px;
  margin-left:10px; margin-top: 5px;
  width:400px; height:50px;
  float:left;
}

/* Layout Responsivo */
@media (max-width: 600px) {
  header, .column.side, .column.middle, .column.geral {
    width: 100%;
  }
  .foto{
	  
  }
  .foto1, .foto1.texto {
	  width:260px;
  }
  .foto2, .foto2.texto {
	  width:520px;
  }

}
